<% if @album.persisted? %>
  <% action = album_url(@album.id) %>
  <% value = "patch" %>
  <% button_words = "Update Album Info"%>
<% else %>
  <% action = albums_url %>
  <% value = "post" %>
  <% button_words = "Create New Album!"%>
<% end %>


<form action="<%= albums_url %>" method="post">
<%= authentic_token %>

  <label for="album_title"> Album Title </label>
  <input type="text" name="album[title]" id="album_title">

  <label for="album_band"> Band </label>
  <select name="album[band_id]" id="album_band">
    <option></option>
    <%  Band.all.each do |band| %>
    <!-- default to selecting band of page we're on -->
    <option value="<%= band.id %>"> <%= band.name %></option>
    <% end %>
  </select>

  <label for="studio_album"> Studio </label>
  <input type="radio" name="album[recording_type]" id="studio_album"
    value="Studio">
  <label for="live_album"> Live </label>
  <input type="radio" name="album[recording_type]" id="live_album"
    value="Live">


  <button> <%=button_words%> </button>

  </form>
